<!DOCTYPE HTML>
<html>

<body>
<!-- wrap_left -->
<div class="wrap_left" id="frmTitle" name="fmTitle">

<!-- Logo -->
<div id="Logo"><span>GEN</span></div>
<!-- /Logo -->

<!-- menu_list -->
<div class="menu_list">
<dl>
    {% ifequal active 'env' %}
    <dd style="display: block;">
        <a href="javascript:AddEnv()" title="添加节点">添加节点</a>
    </dd>
    <dd style="display: block;">
        <a href="javascript:DelEnv()" title="删除节点">删除节点</a>
    </dd>
    <dd style="display: block;">
        <a href="javascript:GrpEnv()" title="节点分组">节点分组</a>
    </dd>
    <dd style="display: block;">
        <a href="javascript:ModEnv()" title="配置管理">配置管理</a>
    </dd>
    {% endifequal %}

    {% ifequal active 'suite' %}
    <dd style="display: block;">
        <a href="" title="上传用例">上传用例</a>
    </dd>
    {% endifequal %}

    {% ifequal active 'task' %}
    <dd style="display: block;">
        <a href="" title="创建任务">创建任务</a>
    </dd>
    {% endifequal %}
	
    {% ifequal active 'reportServer' %}
    <dd style="display: block;">
        <a href="" title="日志管理">日志管理</a>
    </dd>
    {% endifequal %}

    {% ifequal active 'user' %}
    <dd style="display: block;">
        <a href="javascript:AddUser()" title="增加用户">增加用户</a>
    </dd>
    {% endifequal %}
</dl>
</div>
<!-- /menu_list -->
</div>
<!-- /wrap_left -->
<!-- picBox -->
<div class="picBox" onclick="switchSysBar()" id="switchPoint"></div>
<!-- /picBox -->

<!-- /wrap_right -->
</body>
</html>
